# Database configuration
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USERNAME="root"
DATABASE_PASSWORD="password"
DATABASE_NAME="db"
DATABASE_SYNCHRONIZE=false
DATABASE_LOGGING=true
DATABASE_MIGRATIONS_RUN=true

# API Gateway configuration

# Mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=user@example.com
MAIL_PASSWORD=secret-password

# Swagger
SWAGGER_ENABLED=true
SWAGGER_USER=admin
SWAGGER_PASSWORD=admin

# Server
SERVER_PORT=8080
CLIENT_URL=http://localhost:8000
METHODS=GET,HEAD,PUT,PATCH,POST,DELETE
ORIGINS=*
NODE_ENV=development

# JWT
JWT_ACCESS_TOKEN_SECRET=your-access-secret
JWT_ACCESS_TOKEN_EXPIRATION_TIME=99999
JWT_REFRESH_TOKEN_SECRET=your-refresh-secret
JWT_REFRESH_TOKEN_EXPIRATION_TIME=604800

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TTL=3600

# GraphQL
GRAPHQL_PATH=/graphql

# Throttler
THROTTLE_TTL=1000
THROTTLE_LIMIT=10
